	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
				
					<ul class="list-unstyled quick-links">
						<li><a href="/#"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="stories"><i class="fa fa-angle-double-right"></i>Stories</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<ul class="list-unstyled quick-links">
						<li><a href="films"><i class="fa fa-angle-double-right"></i>Films</a></li>
						<li><a href="about"><i class="fa fa-angle-double-right"></i>About</a></li>
						
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<ul class="list-unstyled quick-links">
						<li><a href="blog"><i class="fa fa-angle-double-right"></i>Blog</a></li>
						<li><a href="contact"><i class="fa fa-angle-double-right"></i>Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.google.com/"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="mailto:waradeshreya30@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="#">Anish Photography</a></u> Pune , MH , India</p>
					<p class="h6">© All right Reversed.<a class="text-green ml-2" href="#" target="_blank">Anish Photography</a></p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
