
img {
    width:300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    box-shadow: 7px 11px #aca9a9
    
  }
.bannerimg{
    width: 80%;
  }
p{
  margin-bottom: 10px;
}
h2{
  padding-top: 10px;
}
h3{
  text-align: center;
  padding-top: 10px;
}
h4{
    text-align: center;
    font-style: italic;
}
.column {
  float: center;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 10px;
}
.container{
  width: 100%;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.team{
  width: 100%;
  padding-left: 10%;
}
.card {
  border: 0px solid rgba(0,0,0,.125);
  width: 100%;
  padding: 10%;
}