<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img class="bannerimg" src="assets/images/about-twogether-studios.jpg">
<h2 style="text-align: center;">Contemporary Wedding Stories for the Modern Couple</h2>
<p style="text-align: center; padding: 20px;" >Led by Arjun and Praerna Kartha, we are a highly experienced family-run photography studio that loves working with other families! We are obsessed with creating fun, off-beat and contemporary wedding stories. Widely regarded as amongst the top 5 photography companies in India, we pioneered candid wedding photography in India from the first wedding that we shot in 2008! Over the last 10 years, we have shot hundreds of love stories all over the world. We believe in an exceedingly high quality benchmark, and like to believe that we are the gold-standard in wedding storytelling in the country. We are based in Pune, India but travel extensively all over the world creating stories of love. </p>
<h2 style="text-align: center;font-family: Lucida Handwriting;">The Team</h2>
</body>
</html>
<div class="team">
    
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="assets/images/1.jpg" >
                <div class="container">
                    <h3>NIKHIL MISHRA</h3>
                    <h4 style="font-size: small;">LEAD PHOTOGRAPHER</h4>
                    <p style="text-align: center;font-size: small;"> An erstwhile Mechanical Engineer,Nikhil is the rock on which the entire photography team relies.Calm, steady and "in-no-great-hurry", he loves documentary photography,book-making and creating stories.</p>
                </div>
           </div>
          </div>
          <div class="column">
                <div class="card">
                     <img src="assets/images/2.jpg" >
                    <div class="container">
                        <h3 >ANMOL SHARMA</h3>
                        <h4 style=" font-size: small;">LEAD CINEMATOGRAPHER</h4>
                        <p style="text-align: center; font-size: small;"> Also an engineer, Anmol is the creative sauce in the studio.
                             A major movie buff, Anmol is always ready for a debate on whether 
                             a movie deserves an Oscar, and on a shoot, his friendly nature always puts a bride at ease.</p>
                    </div>
                 </div>
            </div>               
          <div class="column">
            <div class="card">
                <img src="assets/images/3.jpg" >
                <div class="container">
                    <h3>SANCHITA KUMAR</h3>
                    <h4 style="font-size: small;">BRAND MANAGER</h4>
                    <p style="text-align: center;font-size: small;"> Our own fashionista, shoot stylist and marketing manager, 
                        Sanchita is the first person you'll probably talk to if you call us! After 
                        a degree from Pearl, Sanchita loves planning bridal looks for a pre-wedding shoot.</p>
                </div>
           </div>
        </div>
    </div>

    <div class="row">
          <div class="column">
            <div class="card">
                <img src="assets/images/4.jpg" >
                <div class="container">
                    <h3>NIHAREEKAA KAUR</h3>
                    <h4 style="font-size: small;">PHOTOGRAPHER + WRITER</h4>
                    <p style="text-align: center; font-size: small;"> With a degree in journalism and with a very unique spelling of her name 
                        (which she claims is for luck), NK as we call her wears two hats
                         and can be found blogging with one hand and taking pictures
                          with the other!</p>
                </div>
           </div>
        </div>
          
        <div class="column">
            <div class="card">
                <img src="assets/images/5.jpg" >
                <div class="container">
                    <h3>ROHIT KASON</h3>
                    <h4 style=" font-size: small;">PHOTOGRAPHER</h4>
                    <p style="text-align: center;font-size: small;"> A graduate of the prestigious Symbiosis
                        School of Photography, Rohit is also in charge of our equipment,
                        so if anything gets lost, it's his neck on the line!</p>
                </div>
           </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets/images/6.jpg" >
                <div class="container">
                    <h3>MAYANK MISHRA</h3>
                    <h4 style=" font-size: small;">CINEMATOGRAPHER</h4>
                    <p style="text-align: center; font-size: small;"> A graduate of the prestigious Symbiosis School 
                         of Photography, Rohit is also in charge of our equipment, so if anything 
                         gets lost, it's his neck on the line!</p>
                </div>
           </div>
        </div>
    </div>
</div>


