.Blogbox{
    padding: 10px 10px;
}
.Blogbox img{
    width:100%;
    height: 250px;
    Object-fit:cover;
    border-radius: 5px;
}

.Blogbox h1{
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.stepBox h1{
    font-size: 35px;

}

.viewbtn{
    text-decoration: none;
    background-color: #cf1a1a;
    color: #dbddd7;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 18px;
    cursor: pointer;
}