<h2 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Indian Wedding Movies and Films</h2>
<p style="font-family: Lucida;text-align: center;">Indian Wedding Films have evolved from long, traditional and blow-by-blow accounts of the wedding to highly customised and thematic feature films of your wedding the way it deserves to be remembered. Our films perfectly complement our wedding photography and together will create a visual masterpiece that tells the story of your wedding, one frame at a time. Some of our favourite films from over the years are highlighted below. Go ahead, grab some popcorn (and maybe a tissue) and relive some of our favourite wedding movie moments from the years!</p>
   
<div class="films">
    <iframe width='500px' height='294px' frameBorder="0" src='https://player.vimeo.com/video/403968121?'allowfullscreen></iframe>
    <iframe width='500px' height='294px' frameBorder="0" src='https://player.vimeo.com/video/519431837?'allowfullscreen></iframe>
    <iframe width='500px' height='294px' frameBorder="0" src='https://player.vimeo.com/video/589208773?'allowfullscreen></iframe>
    <iframe width='500px' height='294px' frameBorder="0"src='https://player.vimeo.com/video/522704108?'allowfullscreen></iframe>
    <iframe width='500px' height='294px' frameBorder="0" src='https://player.vimeo.com/video/420578718?'allowfullscreen></iframe>
    <iframe width='500px' height='294px' frameBorder="0"src='https://player.vimeo.com/video/584209450?'allowfullscreen></iframe>
</div>