<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
	 <div id="blog" class="row"> 
                
                 
                 <div class="col-md-10 blogShort">
                     <h1>Westin Sohna Wedding Story | Aastha+Rachit 1</h1>
                     <img src="assets/images/blog1.jpg">
                     <article><p>
                        “Written in our stars”, that’s how Aastha and Rachit described their story. Even when they did not realise it, they were meant to be.

Aastha and Rachit have known each other their whole lives. The more time they spent with each other, the more they realised that they were ‘it’. They brought out the best in the other and became the “go-to person” for each other.

They married each other in a beautiful two-day celebration at the Westin Sohna. Here are a few of our favourite moments from their festivities.
                         </p></article>
                     <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a> 
                 </div>
                  <div class="col-md-10 blogShort">
                     <h1>A Delhi Wedding Story | Alisha+Naman</h1>
                     <img src="assets/images/blog2.jpg">
                     <article><p>
                        “He is me and I am him”, that’s how Alisha and Naman describe their love. And we absolutely agree! Alisha and Naman are two halves of a soul, perfectly in sync with each other. They’ve loved each other for so long that in their hearts, they were already married. It was only a matter of time until they made it official.
                         </p></article>
                     <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a> 
                 </div>
                 <div class="col-md-10 blogShort">
                    <h1>Udaipur Destination Wedding Story | Rhea+Akash</h1>
                    <img src="assets/images/blog3.jpg">
                    <article><p>
                       "Madly in love” is how Rhea’s mother described her daughter since she met Akash. And so she was! In love with the person who makes her feel beautiful every day. The way these two look at each other, the happiness that shows on their faces when they are together is all we need to see to know how in love they are. Mad, cute and perfect for each other – Rhea and Akash tied the knot at the Oberoi Udaivilas, in a magnificent 3-day long celebration of what was one of the grandest weddings we’ve seen this year."
                        </p></article>
                    <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a> 
                </div>
                 
                 
                 
               <div class="col-md-12 gap10"></div>
             </div>
</div>



    